@{
    ViewData["Title"] = "Registration confirmation";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email (including your spam or junk folder) for your registration confirmation link.
    </p>
</div>
