@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h3>@ViewData["MuseumName"]</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 col-md-offset-3">
                <h2>Collection</h2>
                <ul>
                    <li><a asp-area="" asp-controller="Collection" asp-action="Index">Objects</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Another action</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Something else here</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2>Lexicon</h2>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Action</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Another action</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Something else here</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2>Admin</h2>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Action</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Another action</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Something else here</a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h3>Cora Corp Incorporated's</h3>
            <h1>Collections Management System</h1>
            <p class="lead">This is a free and open-source collections management system for Museums. Click below to register your museum, or <a asp-area="" asp-controller="Account" asp-action="Login">log in</a> if you already have an account.</p>
            <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Get Started &raquo;</a>
        </div>
    }
</div>
