@model CoraCorpCM.ViewModels.CollectionViewModels.PieceViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Piece</h4>
            <div class="form-group">
                <label asp-for="AccessionNumber" class="control-label"></label>
                <input asp-for="AccessionNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Required" />
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MediumId" class="control-label"></label>
                <select asp-for="MediumId" asp-items="Model.Media" class="form-control" id="medium-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group medium-toggle-target">
                <label asp-for="MediumName" class="control-label"></label>
                <input asp-for="MediumName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" asp-items="Model.Genres" class="form-control" id="genre-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group genre-toggle-target">
                <label asp-for="GenreName" class="control-label"></label>
                <input asp-for="GenreName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="SubgenreId" class="control-label"></label>
                <select asp-for="SubgenreId" asp-items="Model.Subgenres" class="form-control" id="subgenre-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group subgenre-toggle-target">
                <label asp-for="SubgenreName" class="control-label"></label>
                <input asp-for="SubgenreName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SubjectMatterId" class="control-label"></label>
                <select asp-for="SubjectMatterId" asp-items="Model.SubjectMatters" class="form-control" id="subjectMatter-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group subjectMatter-toggle-target">
                <label asp-for="SubjectMatterName" class="control-label"></label>
                <input asp-for="SubjectMatterName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EstimatedValue" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input asp-for="EstimatedValue" class="form-control text-right money-mask">
                </div>
                <span asp-validation-for="EstimatedValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PermanentLocationId" class="control-label"></label>
                <select asp-for="PermanentLocationId" asp-items="Model.Locations" class="form-control" id="permanentLocation-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentLocationName" class="control-label"></label>
                <input asp-for="PermanentLocationName" class="form-control" placeholder="Required" />
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentAddress1" class="control-label"></label>
                <input asp-for="PermanentAddress1" class="form-control" />
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentAddress2" class="control-label"></label>
                <input asp-for="PermanentAddress2" class="form-control" />
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentCity" class="control-label"></label>
                <input asp-for="PermanentCity" class="form-control" />
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentState" class="control-label"></label>
                <input asp-for="PermanentState" class="form-control" />
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentZipCode" class="control-label"></label>
                <input asp-for="PermanentZipCode" class="form-control" />
            </div>
            <div class="form-group permanentLocation-toggle-target">
                <label asp-for="PermanentCountryId"></label>
                <select asp-for="PermanentCountryId" asp-items="Model.Countries" class="form-control">
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CurrentLocationId" class="control-label"></label>
                <select asp-for="CurrentLocationId" asp-items="Model.Locations" class="form-control" id="currentLocation-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                    <option value="-2">- Same as Permanent Location -</option>
                </select>
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentLocationName" class="control-label"></label>
                <input asp-for="CurrentLocationName" class="form-control" placeholder="Required" />
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentAddress1" class="control-label"></label>
                <input asp-for="CurrentAddress1" class="form-control" />
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentAddress2" class="control-label"></label>
                <input asp-for="CurrentAddress2" class="form-control" />
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentCity" class="control-label"></label>
                <input asp-for="CurrentCity" class="form-control" />
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentState" class="control-label"></label>
                <input asp-for="CurrentState" class="form-control" />
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentZipCode" class="control-label"></label>
                <input asp-for="CurrentZipCode" class="form-control" />
            </div>
            <div class="form-group currentLocation-toggle-target">
                <label asp-for="CurrentCountryId"></label>
                <select asp-for="CurrentCountryId" asp-items="Model.Countries" class="form-control">
                    <option value=""></option>
                </select>
            </div>

            <hr />

            <div>
                <h4>Insurance</h4>
            </div>
            <div class="form-group">
                <label asp-for="PolicyNumber" class="control-label"></label>
                <input asp-for="PolicyNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AmountInsured" class="control-label"></label>
                <input asp-for="AmountInsured" class="form-control money-mask" />
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control date-picker" />
            </div>
            <div class="form-group">
                <label asp-for="Carrier" class="control-label"></label>
                <input asp-for="Carrier" class="form-control" />
            </div>
            <hr />
        </div>
        <div class="col-md-4">
            <h4>Artist</h4>
            <div class="form-group">
                <select asp-for="ArtistId" asp-items="Model.KnownArtists" class="form-control" id="artist-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" placeholder="Required" />
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistAlsoKnownAs" class="control-label"></label>
                <input asp-for="ArtistAlsoKnownAs" class="form-control" />
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistCity" class="control-label"></label>
                <input asp-for="ArtistCity" class="form-control" />
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistState" class="control-label"></label>
                <input asp-for="ArtistState" class="form-control" />
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistCountryId"></label>
                <select asp-for="ArtistCountryId" asp-items="Model.Countries" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistBirthdate" class="control-label"></label>
                <input asp-for="ArtistBirthdate" class="form-control date-picker" />
                <span asp-validation-for="ArtistBirthdate" class="text-danger"></span>
            </div>
            <div class="form-group artist-toggle-target">
                <label asp-for="ArtistDeathdate" class="control-label"></label>
                <input asp-for="ArtistDeathdate" class="form-control date-picker" />
                <span asp-validation-for="ArtistDeathdate" class="text-danger"></span>
            </div>
            <hr />
            <div>
                <h4>Creation Date</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CreationYear" class="control-label"></label>
                        <input asp-for="CreationYear" class="form-control year-picker year-mask" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CreationMonth" class="control-label"></label>
                        <input asp-for="CreationMonth" class="form-control month-picker month-mask" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CreationDay" class="control-label"></label>
                        <input asp-for="CreationDay" class="form-control day-mask" />
                    </div>
                </div>
                <div class="col-md-12">
                    <span asp-validation-for="CreationYear" class="text-danger"></span>
                    <span asp-validation-for="CreationMonth" class="text-danger"></span>
                    <span asp-validation-for="CreationDay" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div>
                <h4>Origin</h4>
            </div>
            <div class="form-group">
                <label asp-for="OriginCity" class="control-label"></label>
                <input asp-for="OriginCity" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OriginState" class="control-label"></label>
                <input asp-for="OriginState" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OriginCountryId"></label>
                <select asp-for="OriginCountryId" asp-items="Model.Countries" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <hr />
            <div>
                <h4>Dimensions</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Height" class="control-label"></label>
                        <input asp-for="Height" class="form-control text-right" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Width" class="control-label"></label>
                        <input asp-for="Width" class="form-control text-right" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Depth" class="control-label"></label>
                        <input asp-for="Depth" class="form-control text-right" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="UnitOfMeasureId" class="control-label"></label>
                        <select asp-for="UnitOfMeasureId" asp-items="Model.UnitsOfMeasure" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsFramed" /> @Html.DisplayNameFor(model => model.IsFramed)
                        </label>
                    </div>
                    <div><span asp-validation-for="Height" class="text-danger"></span></div>
                    <div><span asp-validation-for="Width" class="text-danger"></span></div>
                    <div><span asp-validation-for="Depth" class="text-danger"></span></div>
                </div>
            </div>
            <hr />
            <div>
                <h4>Copyright</h4>
            </div>
            <div class="form-group">
                <label asp-for="CopyrightYear" class="control-label"></label>
                <input asp-for="CopyrightYear" class="form-control year-picker year-mask" />
                <span asp-validation-for="CopyrightYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyrightOwner" class="control-label"></label>
                <input asp-for="CopyrightOwner" class="form-control" />
            </div>
            <hr />
        </div>
        <div class="col-md-4">
            <h4>Acquisition</h4>
            <div class="form-group">
                <select asp-for="AcquisitionId" asp-items="Model.Acquisitions" class="form-control" id="acquisition-toggle">
                    <option value="-1">- Create New -</option>
                    <option value="">- Skip Acquisition Creation -</option>
                </select>
            </div>
            <div class="form-group acquisition-toggle-target">
                <label asp-for="AcquisitionDate" class="control-label"></label>
                <input asp-for="AcquisitionDate" class="form-control date-picker" />
                <span asp-validation-for="AcquisitionDate" class="text-danger"></span>
            </div>
            <div class="form-group acquisition-toggle-target">
                <label asp-for="PieceSourceId" class="control-label"></label>
                <select asp-for="PieceSourceId" asp-items="Model.PieceSources" class="form-control toggle" id="pieceSource-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group acquisition-toggle-target pieceSource-toggle-target">
                <label asp-for="PieceSourceName" class="control-label"></label>
                <input asp-for="PieceSourceName" class="form-control" />
            </div>
            <div class="form-group acquisition-toggle-target">
                <label asp-for="Cost"></label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input asp-for="Cost" class="form-control text-right money-mask" />
                </div>
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group acquisition-toggle-target">
                <label asp-for="FundingSourceId" class="control-label"></label>
                <select asp-for="FundingSourceId" asp-items="Model.FundingSources" class="form-control toggle" id="fundingSouce-toggle">
                    <option value=""></option>
                    <option value="-1">- Create New -</option>
                </select>
            </div>
            <div class="form-group acquisition-toggle-target fundingSouce-toggle-target">
                <label asp-for="FundingSourceName" class="control-label"></label>
                <input asp-for="FundingSourceName" class="form-control" />
            </div>
            <div class="form-group acquisition-toggle-target">
                <label asp-for="Terms"></label>
                <textarea rows="6" asp-for="Terms" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
