@model CoraCorpCM.Web.ViewModels.CollectionViewModels.CreatePieceViewModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts
    {
        <environment include="Development">
            <script src="~/dist/collection-create.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/dist/collection-create.min.js"></script>
        </environment>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="container">
    <h2>Create</h2>

    <hr />

    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h4>Piece</h4>
                <div class="form-group">
                    <label class="control-label">Accession Number</label>
                    <input asp-for="PieceAccessionNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="PieceTitle" class="form-control" placeholder="Required" />
                    <span asp-validation-for="PieceTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Subject</label>
                    <input asp-for="PieceSubject" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Medium</label>
                    <select asp-for="PieceMediumId" asp-items="Model.Media" class="form-control" id="medium-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group medium-toggle-target">
                    <label class="control-label">New Medium</label>
                    <input asp-for="MediumName" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Genre</label>
                    <select asp-for="PieceGenreId" asp-items="Model.Genres" class="form-control" id="genre-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group genre-toggle-target">
                    <label class="control-label">New Genre</label>
                    <input asp-for="GenreName" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Subgenre</label>
                    <select asp-for="PieceSubgenreId" asp-items="Model.Subgenres" class="form-control" id="subgenre-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group subgenre-toggle-target">
                    <label class="control-label">New Subgenre</label>
                    <input asp-for="SubgenreName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Subject Matter</label>
                    <select asp-for="PieceSubjectMatterId" asp-items="Model.SubjectMatters" class="form-control" id="subjectMatter-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group subjectMatter-toggle-target">
                    <label class="control-label">New Subject Matter</label>
                    <input asp-for="SubjectMatterName" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Estimated Value</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="PieceEstimatedValue" class="form-control text-right money-mask">
                    </div>
                    <span asp-validation-for="PieceEstimatedValue" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Current Location</label>
                    <select asp-for="PieceCurrentLocationId" asp-items="Model.Locations" class="form-control" id="currentLocation-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current Location Name</label>
                    <input asp-for="CurrentLocationName" class="form-control" placeholder="Required" />
                    <span asp-validation-for="CurrentLocationName" class="text-danger"></span>
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current Address 1</label>
                    <input asp-for="CurrentLocationAddress1" class="form-control" />
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current Address 2</label>
                    <input asp-for="CurrentLocationAddress2" class="form-control" />
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current City</label>
                    <input asp-for="CurrentLocationCity" class="form-control" />
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current State</label>
                    <input asp-for="CurrentLocationState" class="form-control" />
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current Zip Code</label>
                    <input asp-for="CurrentLocationZipCode" class="form-control" />
                </div>
                <div class="form-group currentLocation-toggle-target">
                    <label class="control-label">Current Country</label>
                    <select asp-for="CurrentLocationCountryId" asp-items="Model.Countries" class="form-control">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Permanent Location</label>
                    <select asp-for="PiecePermanentLocationId" asp-items="Model.Locations" class="form-control" id="permanentLocation-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                        <option value="-2">- Same as Current Location -</option>
                    </select>
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent Location Name</label>
                    <input asp-for="PermanentLocationName" class="form-control" placeholder="Required" />
                    <span asp-validation-for="PermanentLocationName" class="text-danger"></span>
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent Address Line 1</label>
                    <input asp-for="PermanentLocationAddress1" class="form-control" />
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent Address Line 2</label>
                    <input asp-for="PermanentLocationAddress2" class="form-control" />
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent City</label>
                    <input asp-for="PermanentLocationCity" class="form-control" />
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent State</label>
                    <input asp-for="PermanentLocationState" class="form-control" />
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent Zip Code</label>
                    <input asp-for="PermanentLocationZipCode" class="form-control" />
                </div>
                <div class="form-group permanentLocation-toggle-target">
                    <label class="control-label">Permanent Country</label>
                    <select asp-for="PermanentLocationCountryId" asp-items="Model.Countries" class="form-control">
                        <option value=""></option>
                    </select>
                </div>

                <hr />

                <div>
                    <h4>Insurance</h4>
                </div>
                <div class="form-group">
                    <label class="control-label">Policy Number</label>
                    <input asp-for="PieceInsurancePolicyNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Amount Insured</label>
                    <input asp-for="PieceInsuranceAmount" class="form-control money-mask" />
                </div>
                <div class="form-group">
                    <label class="control-label">Insurance Expiration Date</label>
                    <input asp-for="PieceInsuranceExpirationDate" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label class="control-label">Insurance Carrier</label>
                    <input asp-for="PieceInsuranceCarrier" class="form-control" />
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <h4>Artist</h4>
                <div class="form-group">
                    <select asp-for="PieceArtistId" asp-items="Model.Artists" class="form-control" id="artist-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">Name</label>
                    <input asp-for="ArtistName" class="form-control" placeholder="Required" />
                    <span asp-validation-for="ArtistName" class="text-danger"></span>
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">Also Known As</label>
                    <input asp-for="ArtistAlsoKnownAs" class="form-control" />
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">City of Origin</label>
                    <input asp-for="ArtistCityOfOrigin" class="form-control" />
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">State of Origin</label>
                    <input asp-for="ArtistStateOfOrigin" class="form-control" />
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">Country of Origin</label>
                    <select asp-for="ArtistCountryOfOriginId" asp-items="Model.Countries" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">Birth Date</label>
                    <input asp-for="ArtistBirthDate" class="form-control" type="date" />
                    <span asp-validation-for="ArtistBirthDate" class="text-danger"></span>
                </div>
                <div class="form-group artist-toggle-target">
                    <label class="control-label">Death Date</label>
                    <input asp-for="ArtistDeathDate" class="form-control" type="date" />
                    <span asp-validation-for="ArtistDeathDate" class="text-danger"></span>
                </div>
                <hr />
                <div>
                    <h4>Creation Date</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Year</label>
                            <input asp-for="PieceCreationYear" class="form-control year-picker year-mask" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Month</label>
                            <input asp-for="PieceCreationMonth" class="form-control month-picker month-mask" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Day</label>
                            <input asp-for="PieceCreationDay" class="form-control day-mask" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <span asp-validation-for="PieceCreationYear" class="text-danger"></span>
                        <span asp-validation-for="PieceCreationMonth" class="text-danger"></span>
                        <span asp-validation-for="PieceCreationDay" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <div>
                    <h4>Origin</h4>
                </div>
                <div class="form-group">
                    <label class="control-label">City of Origin</label>
                    <input asp-for="PieceCityOfOrigin" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">State of Origin</label>
                    <input asp-for="PieceStateOfOrigin" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Country of Origin</label>
                    <select asp-for="PieceCountryOfOriginId" asp-items="Model.Countries" class="form-control">
                        <option value=""></option>
                    </select>
                </div>
                <hr />
                <div>
                    <h4>Dimensions</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Height</label>
                            <input asp-for="PieceHeight" class="form-control text-right" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Width</label>
                            <input asp-for="PieceWidth" class="form-control text-right" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Depth</label>
                            <input asp-for="PieceDepth" class="form-control text-right" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Unit of Measure</label>
                            <select asp-for="PieceUnitOfMeasureId" asp-items="Model.UnitsOfMeasure" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input id="isFramedCheck" class="custom-control-input" asp-for="PieceIsFramed" />
                            <label class="custom-control-label" for="isFramedCheck">Framed</label>
                        </div>
                        <div><span asp-validation-for="PieceHeight" class="text-danger"></span></div>
                        <div><span asp-validation-for="PieceWidth" class="text-danger"></span></div>
                        <div><span asp-validation-for="PieceDepth" class="text-danger"></span></div>
                    </div>
                </div>
                <hr />
                <div>
                    <h4>Copyright</h4>
                </div>
                <div class="form-group">
                    <label class="control-label">Year</label>
                    <input asp-for="PieceCopyrightYear" class="form-control year-picker year-mask" />
                    <span asp-validation-for="PieceCopyrightYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Owner</label>
                    <input asp-for="PieceCopyrightOwner" class="form-control" />
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <h4>Acquisition</h4>
                <div class="form-group">
                    <select asp-for="PieceAcquisitionId" asp-items="Model.Acquisitions" class="form-control" id="acquisition-toggle">
                        <option value="-1">- Create New -</option>
                        <option value="">- Skip Acquisition Creation -</option>
                    </select>
                </div>
                <div class="form-group acquisition-toggle-target">
                    <label class="control-label">Acquisition Date</label>
                    <input asp-for="AcquisitionDate" class="form-control" type="date" />
                    <span asp-validation-for="AcquisitionDate" class="text-danger"></span>
                </div>
                <div class="form-group acquisition-toggle-target">
                    <label class="control-label">Piece Source</label>
                    <select asp-for="AcquisitionPieceSourceId" asp-items="Model.PieceSources" class="form-control toggle" id="pieceSource-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                    <span asp-validation-for="AcquisitionPieceSourceId" class="text-danger"></span>
                </div>
                <div class="form-group acquisition-toggle-target pieceSource-toggle-target">
                    <label class="control-label">New Piece Source</label>
                    <input asp-for="PieceSourceName" class="form-control" />
                </div>
                <div class="form-group acquisition-toggle-target">
                    <label>Cost</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input asp-for="AcquisitionCost" class="form-control text-right money-mask" />
                    </div>
                    <span asp-validation-for="AcquisitionCost" class="text-danger"></span>
                </div>
                <div class="form-group acquisition-toggle-target">
                    <label class="control-label">Funding Source</label>
                    <select asp-for="AcquisitionFundingSourceId" asp-items="Model.FundingSources" class="form-control toggle" id="fundingSouce-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group acquisition-toggle-target fundingSouce-toggle-target">
                    <label class="control-label">New Funding Source</label>
                    <input asp-for="FundingSourceName" class="form-control" />
                </div>
                <div class="form-group acquisition-toggle-target">
                    <label class="control-label">Terms</label>
                    <textarea rows="6" asp-for="AcquisitionTerms" class="form-control"></textarea>
                </div>

                <hr />
                <div class="form-group">
                    <label class="control-label">Collection</label>
                    <select asp-for="PieceCollectionId" asp-items="Model.Collections" class="form-control toggle" id="collection-toggle">
                        <option value=""></option>
                        <option value="-1">- Create New -</option>
                    </select>
                </div>
                <div class="form-group collection-toggle-target">
                    <label class="control-label">New Collection</label>
                    <input asp-for="CollectionName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
